*{
font-family: 'Nunito', sans-serif;
margin:0; padding:0;
box-sizing: border-box;
text-decoration: none;
outline: none; border:none;
text-transform: capitalize;
transition: all .2s linear;
}
body{
    background:#111;
    overflow-x: hidden;
    padding-left: 35rem;
}
section{
    min-height: 100vh;
    padding:1rem;
}
h1{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
}  
h1 span{
    color: aqua;
}
header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background:darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}
header .navbar{
    width:100%;
}

header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}


header .navbar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:#333;
    color:#fff;
    font-size: 2rem;
    border-radius: 5rem;
}
.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;
}
.home h2{
    font-size: 2.5rem;
    color:goldenrod;
}
.home h1{
    font-size:5rem;
    color:#fff;
}
.home h1 span{
    color:var(--yellow);
}

.home p{
    font-size:2rem;
    color:#eee;
    padding: 1rem 0;
}